<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Monster Jump</title>
</head>
<body>
    <canvas id="canvas1"></canvas>
    <img id="playerImg" src="img/playerCuto.png">
    <img id="backgroundImg" src="img/backgroudgame.png">
    <img id="enemyImg" src="img/sanwit.png">
    <img id="playerImg2" src="img/playerCuto2.png">
    <img id="lives" src="img/heart.png" />
    <button id="fullScreenButton">Toggle Fullscreen</button>
</body>
    <script src="controller/controler.js"></script>
    <!-- <script src="controller/client.js"></script> -->
</html>