<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title> Game T-Rex </title>
</head>
<body>
    <canvas id="canvas1"></canvas>
    <img id="playerImg" src="img/Player_01.png">
    <img id="backgroundImg" src="img/bg.png">
    <img id="enemyImg" src="img/Enemy_01.png">
</body>
    <script src="controller/controller2.js"></script>
    <!-- <script src="controller/client.js"></script> -->
</html>